<h1>Gerenciador de tarefas</h1>

<h2>Cadastrar nova</h2>
<%= form_tag({action: 'create'}, {method: 'get'}) do %>
  <%= label_tag(:description, "Descrição:") %>
  <%= text_field_tag(:description) %>
  <%= submit_tag("Cadastrar") %>
<% end %>

<h2>Lista</h2>
<% Task.all.each do |task| %>
  <div>  
    <%= task.finished ? 'Concluída' : 'Pendente' %>&nbsp | &nbsp
    <b><%= task.description %></b><br />    
    <%#= button_to 'Concluir', action: :finished, method: :post, remote: true, params: { id: task.id } unless task.finished %>
    <%= link_to 'Concluir', action: :finished, params: { id: task.id }  unless task.finished %>
    <hr />
  </div>
<% end %>